body{
  font: Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 0px solid rgb(164, 159, 159);
  border-radius: 23px;
  background: white;
}
input1
.nav-bar{
  top: 0;
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 0;
  background: white;
  position: fixed;
  border-bottom: 1px solid black;
}
.text-logo{
  color: #007bff;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ftext{
  color: white;
  text-align: center;
  font-weight: bold;
}


.menu{
  margin: 0 auto;
}
.menu a{
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 10px;
  color: black;
}
.menu a:hover{
  border-bottom: 2px solid rgb(144, 142, 142);
  filter: drop-shadow(0 0 2em #646cffaa);
}
.contactUs{
  border: 1.5px solid rgb(145, 141, 141);
  border-radius: 10px;
  padding: 8px 8px;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.contactUs:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.hr1{
  background: rgb(156, 153, 153);
  width: 100%;
  height: 1.5px;
  border: none;
  bottom: 0;
}
footer{
  background:rgb(14, 13, 13);
  padding: 80px 10px;
  line-height: 20px;
  border-top-left-radius: 40px;
}

.row{
  display: flex;
  width: 85%;
  margin: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}
.col{
  width: 150px;
}
.col a{
  text-decoration: none;
  color: white;
}
.pp{
  color: rgb(195, 191, 191);
}
.img1{
  height: 280px;
  width: 280px;
  border-radius: 140px;
}
.profile1{
  margin-top: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;

}
.imgText{
  padding: 15px;
}
.t1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}
.t2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.t3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
}
.Button1{
  padding: 7px 7px;
  border: 1.5px solid rgb(164, 159, 159);
  margin: 5px;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.Button1:hover{
  color: white;
  background: black;
}
.imgText1{
  text-align: center;
  margin-top: 30px;
}
.t4{
  font-size: 15px;
  color: hsl(0, 2%, 35%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.t5{
  color: black;
  font-size: 2.5rem;
  font-family: 'Segoe UI';
  font-weight: bold;
}
.img2{
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-right: 30px;
}
.b1{
  border: 1.5px solid rgb(145, 141, 141);
  border-radius: 30px;
  padding: 40px 60px;
  width: auto;
  height: 80px;
  margin-top: 40px;
  margin-right: 20px;
}
.imgText2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  text-align: center;
}
.t6{
  text-align: center;
  font-size: 1.5rem;
}
.t7{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.t8{
  font-size: 12px;
  color: hsl(0, 2%, 35%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.b2{
  border: 1.5px solid rgb(145, 141, 141);
  border-radius: 30px;
  padding: 30px 20px;
  width: auto;
  height: 350px;
  margin-right: 20px; 
  margin-bottom: 10px;
}
.imgText3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.t9{
  font-size: 2rem;
  color: hsl(0, 0%, 5%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.textArea{
  height: 30px;
}
.ic1{
  font-size: 1.5rem;
}
.ic2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;          /* Adjust size */
  height: 20px;         /* Adjust size */
  border-radius: 50%;   /* Makes it circular */
  background: black;    /* Black background */
  color: rgb(254, 253, 253);         /* Icon color (if using Font Awesome) */
  padding: 8px;         /* Adjust spacing inside */
  margin: 8px;
}
.ic3{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;          /* Adjust size */
  height: 20px;         /* Adjust size */
  border-radius: 50%;   /* Makes it circular */
  background: black;    /* Black background */
  color: rgb(254, 253, 253);         /* Icon color (if using Font Awesome) */
  padding: 8px;         /* Adjust spacing inside */
  margin: 1px;
}
.s1{
  padding: 08px 10px;
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  background: black;
}
.s1:hover{
  box-shadow: 2px 2px 3px white;
}
.Mesme{
  border: 2px solid black;
  width: 400px;
  padding: 10px;
  margin: auto;  
  margin-top: 100px;
}
.head1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.input1{
  width: 100%;
  padding: 3px;
  border: none;
  background: rgb(195, 189, 189);
  font-size: 17px;
}
.input1:focus{
  outline: none;
}
.formInput1{
  margin-bottom: 20px;
}
textarea{
  width: 80%;
}
.textArea1{
  font-size: 17px;
  width: 95%;
}
.sub1{
  border: none;
  width: 100%;
  background: black;
  padding: 10px  0px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.sub1:hover{
  color: black;
  background: white;
  border: 1.5px solid black;
}
@media (max-width: 768px) {
.imgText2{
      display: block;
  }
.t9{
  width: 100%;
}  
.Mesme{
  width: 85%;
}
.imgText1{
  margin-top: 10px;
}
.t1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}
.t2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
}
.t3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}
.t5{
  font-size: 2rem;
}
.t9{
  font-size: 1.8rem;
}
}
@media (max-width:320px) {
.b2{
  padding: 20px 20px;
}
  .contactUs{
      display: none;
  }    
}
@media (max-width:380px) {
.b2{
  padding: 20px 20px;
}
.ic2 {
  width: 20px;          /* Adjust size */
  height: 20px;         /* Adjust size */
}
.profile1{
  padding: 50px;
}
}